<main [ngClass]="{'bg-mobile-light':!isDarkMode , 
                  'bg-mobile-dark':isDarkMode , 
                  'md:bg-desktop-light':!isDarkMode ,
                  'md:bg-desktop-dark':isDarkMode ,
                  }"
  class="min-h-[100svh] bg-top bg-no-repeat bg-contain bg-neutral-very-light-gray dark:bg-dark-very-dark-blue ">
  <div class="space-y-8 px-6 py-[11%] md:py-[5%] md:max-w-xl mx-auto">

    <div class="flex items-center justify-between">
      <h1 class="text-2xl md:text-4xl font-bold tracking-[.4em]  uppercase text-neutral-very-light-gray">ToDo</h1>
      <button (click)="toggleDarkMode()">
        <img class="size-5 md:size-6 "
          [src]="isDarkMode? '../assets/icons/icon-sun.svg':'../assets/icons/icon-moon.svg'" alt="Moon icon">
      </button>
    </div>

    <div class="space-y-4">
      <div class="flex items-center gap-2 px-4 bg-white rounded-md dark:bg-dark-very-dark-desaturated-blue">
        <button
          class="border rounded-full size-5 aspect-square border-black-1 dark:border-dark-light-grayish-blue "></button>
        <input #todoInput
          class="grid w-full py-3 outline-none placeholder:text-sm dark:bg-dark-very-dark-desaturated-blue md:py-6 dark:text-white"
          type="text" placeholder="Create a new todo..." (keyup.enter)="addTodo(todoInput.value, todoInput)">
      </div>

      <ul
        class="overflow-hidden font-semibold bg-white divide-y rounded-md shadow-lg text-neutral-very-dark-grayish-blue dark:divide-dark-light-grayish-blue dark:bg-dark-very-dark-desaturated-blue dark:text-dark-light-grayish-blue"
        cdkDropList (cdkDropListDropped)="onDrop($event)">
        <li *ngFor="let todo of todos; let i = index" (click)="toggleTodo(todo)" class="grid px-4 py-5" cdkDrag
          [cdkDragData]="todo" (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
          <div class="px-4 py-6 border-4 border-red-500" *cdkDragPlaceholder></div>
          <app-todo [isDarkMode]="isDarkMode" [todo]="todo"></app-todo>
        </li>

        <li class="flex items-center justify-between px-4 py-4 text-sm ">
          <span class="text-neutral-dark-grayish-blue">
            {{getItemsLeft()}} items left
          </span>

          <button class="text-neutral-dark-grayish-blue" (click)="clearCompleted()">Clear Completed</button>
        </li>
      </ul>

      <div
        class="flex items-center justify-center gap-4 px-3 py-4 bg-white rounded-md shadow-lg dark:bg-dark-very-dark-desaturated-blue">
        <button
          [ngClass]="{'text-primary-bright-blue': currActiveFilterType === 'all','text-neutral-dark-grayish-blue': currActiveFilterType !== 'all'}"
          class="font-bold" (click)="filterTodo('all')">All</button>
        <button
          [ngClass]="{'text-primary-bright-blue': currActiveFilterType === 'active','text-neutral-dark-grayish-blue': currActiveFilterType !== 'active'}"
          class="font-bold " (click)="filterTodo('active')">Active</button>
        <button
          [ngClass]="{'text-primary-bright-blue': currActiveFilterType === 'completed','text-neutral-dark-grayish-blue': currActiveFilterType !== 'completed'}"
          class="font-bold " (click)="filterTodo('completed')">Completed</button>
      </div>
    </div>

    <p class="text-center text-neutral-dark-grayish-blue">Drag and drop to reorder list</p>

  </div>
</main>

<footer>
  <div class="text-center bg-neutral-very-light-gray dark:bg-dark-very-dark-blue dark:text-white">
    Challenge by <a class="hover:underline" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend
      Mentor</a>.
    Coded by <a class="hover:underline" href="https://github.com/Xjanus12x">Xjanus12x</a>.
  </div>
</footer>